
html{
    width: 100%;
    height: 100%;
}
body.body__font-family--lc_cn {
    font-family: "Lucida Console", "Courier New" ;    
}
 
body.body__margin {
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    /* border: 1px solid black; */
}

h1.heading--center {
    text-align: center;
    margin-top: 50px;
}

ul {
    width : 195px;
    margin: 0 auto;
    padding-left : 10px;
}
 ul li a.link--black {
    color: black;
 }

.references-container{
    margin-top: 500px;
    margin-right : 50px;
    text-align : right;
    font-style: italic;
}
 a.link__position-and-style {
    display : block;
    padding-right : 5px;
    font-style: normal;
    font-weight: bold;
    color: black;
 }
/* 
div.container--center {
    text-align: center;
    border: 1px solid black; 
}

div.container--center ul.inline-display {
    display: inline-block;
    text-align: left;
}

ul li a.link--black {
    color : black;
}

div.footer--position {
    display: block;
    text-align: right;
    margin-top: 400px;
    border: 1px solid black; 
}

div.footer--position div.references-container {
    display : inline-block;
    border: 1px solid red; 
    text-align: center;
    margin-right: 40px;
}

div.footer--position div.references-container span.developer__name--style{
    color:black;
    font-style: italic;
}

div.footer--position div.references-container a.link__position-and-style{
    color:black;
    font-weight: bold;
}
 */



